:root {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

html {
    font-size: 14px;
}

body {
    height: 100vh;
    top: 0;
}

// * {
//     outline: red 1px solid;
// }

section.top-section {
    display: flex;
    justify-content: space-between;
    h1 {
        font-size: 2rem;
    }
    img {
        position: relative;
        height: 10rem;
        width: 10rem;
        display: none;
        right: 3rem;
    }
}

.certifikat {
    margin-top: .5rem;
}

ul.education-list li p {
    margin-top: 0;
}

.li {
    position: relative;
}

h4, h3 {
    margin-bottom: .5rem;
    margin-top: 2rem;
}

p {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

h2 {
    position: relative;
}

section {
    margin-bottom: 2rem;
}

.hidden {
    visibility: hidden;
    height: 0;
}

.flex-center {
    padding: 2rem;
    width: calc(100vw -4rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    section {
        position: relative;
        // background: magenta;
        width: 100%;
        max-width: 40rem;
    }
}

.indicator {
    visibility: hidden;
    height: .6rem;
    width: .6rem;
    border-radius: 50%;
    margin-left: 1rem;
}

.green {
    background: rgb(54, 231, 0);
}

.blue {
    background: cornflowerblue;
}

.upper {
    display: flex;
    align-items: center;
}

.projectGif {
    width: 100%;
}

.for-print {
    display: none;
}
.pagebreak {
    clear: both;
    page-break-after: always;
}

h2 { 
    page-break-before: always;
    break-before: always;
  }


@media (min-width: 600px) {
    html {
        font-size: 16px;
    }
    .indicator {
        visibility: visible;
    }
    section.top-section {
        img {
            display: unset;
        }
    }
}

@media print {
    .for-print {
        display: block;
    }
    .for-screen {
        display: none;
    }    
}